{block content}
<div id="search-box" class="input-group">
  <input type="text" class="form-control" placeholder="Vyhledat psa..">
  <span class="input-group-btn">
	<button class="btn btn-default" type="button"><span class="fa fa-search"></span></button>
  </span>
</div><!-- /input-group -->
<div id="dog-grid">
	
</div>

	<div>
	loged as: '{$user->getId()}'
	with role: '{$user->getRoles()[0]}'
	</div>


{/block}
