body {
	padding-top: 49px;
	min-width:420px; /* suppose you want minimun width of 1000px */
	width: auto !important;  /* Firefox will set width as auto */
	width:420px;
}

#search-box {
	float: right;
	overflow: hidden;
	margin: 10px 5px;
	position: relative;
	width: 300px;
	margin-bottom: 0px;
}

#dog-grid {
	margin-top: 45px;
	padding-left: 20px;
	padding-right: 20px;
	overflow: hidden;
}

#staff-grid {
	margin-top: 45px;
	padding-left: 20px;
	padding-right: 20px;
	overflow: hidden;
}

.grid-cell {
	border-radius: 7px;
	height: 200px;
	position: relative;
	overflow: hidden;
}

.grid-cell.new-cell {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	display: table;
	background-color: #E7E7E7;
	border-radius: 7px;
	height: 200px;
	position: relative;
	overflow: hidden;
}
.new-member-button {
	display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.confirm-member-delete-button {
  position: absolute;
  top: 0;
  right: 0;
  opacity: .3
}

.confirm-member-delete-button:hover {
	opacity: 1;
}

.grid-cell-pad {
	padding: 5px;
}

.cell-footer {
	position: absolute;
	width: 100%;
	height: 25px;
	background-color: #608AE3;
	bottom: 0;
	opacity: .8;
}

.cell-footer-text {
	padding-left: 5px;
	padding-right: 10px;
}

.img-resp-c {
	min-height: 200px;
	min-width: 200px;
	opacity: .6;
}

.img-resp-c:hover {
	opacity: 1;
}

.well-c {
	padding: 0 0 0 0;
}

.img-resp-c2 {
	min-height: 200px;
	min-width: 200px;
}
